Dictionary in python is a collection of keys value used to store data values like  a map .

dict is mutable
indexing has no meaning
keys canit be duplicate
keys cannot be mutable items

In [1]:
#empty
d ={}
print(d)

{}

In [2]:
# 1D dict
d1 = {'name' : 'shri','gender' :'female'}
d1

{'name': 'shri', 'gender': 'female'}

In [3]:
# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}
d2

{(1, 2, 3): 1, 'hello': 'world'}

In [5]:
# 2D dict
s = {
    'name' : "shri",
    'college':'vision',
    'sem': 4 ,
    'subject':{
        'java':79,
        'os': 70,
        'afm' : 67    
}
}

In [4]:
# using sequence and dict function :
d = dict([('name' ,'shri'),('sem',3),('age',20)])
print(d)
# duplicate keys
d = {'name' : 'shri','name' :'shriya'}
print(d)
#mutable items as keys
d = {'name':'shri',(1,2,3):2}
print(d)

{'name': 'shri', 'sem': 3, 'age': 20}
{'name': 'shriya'}
{'name': 'shri', (1, 2, 3): 2}

In [ ]:
# Accessing items
my_dict = {'name' : 'shri','age':20}
my_dict('age')
my_dict.get('age')

In [7]:
# Adding key - value pair
d['gender'] = 'female'
print(d)

{'name': 'shri', (1, 2, 3): 2, 'gender': 'female'}

In [8]:
d = {'name':'shri','class':12,'gender':'female'}
# pop
d.pop('class')
print(d)

{'name': 'shri', 'gender': 'female'}

In [9]:
# pop item
d = {'name':'shri','class':12,'gender':'female'}
d.popitem()

('gender', 'female')

In [ ]:
d = {'name':'shri','class':12,'gender':'female'}
del d['name']
print(d)

In [ ]:
# code
d = {'name':'shri','class':12,'gender':'female'}
d.clear()
print(d)

In [11]:
# accessing from 2D dict
s = {
    'name' : "shri",
    'college':'vision',
    'sem': 4 ,
    'subject':{
        'java':79,
        'os': 70,
        'afm' : 67    
}
}
s['subject']['os']

70

In [ ]:
# Adding/Editing key value pair
s['subject']['english']=77
print(s)

 # del s['subject']['java']

{'name': 'shri', 'college': 'vision', 'sem': 4, 'subject': {'os': 70, 'afm': 67, 'english': 77}}

Dict operation :
1. membership
2. iteration

In [16]:
s = {
    'name' : "shri",
    'college':'vision',
    'sem': 4 ,
    'subject':{
        'java':79,
        'os': 70,
        'afm' : 67    
}
}
print(s)
'shri' in s # it always works on key not value
'name' in s

{'name': 'shri', 'college': 'vision', 'sem': 4, 'subject': {'java': 79, 'os': 70, 'afm': 67}}

True

In [18]:
d={'name':'shri','Class':12,'gender':'female'}
for i in d:
    print(i,":",d[i])

name : shri
Class : 12
gender : female

In [19]:
#Dict/Function
d={'name':'shri','Class':12,'gender':'female'}
len(d)
print(d)
sorted(d,reverse=True)
max(d)
min(d)

{'name': 'shri', 'Class': 12, 'gender': 'female'}

'Class'

In [ ]:
d={'name':'shri','Class':12,'gender':'female'}
sorted(d,reverse=True)

In [ ]:
d={'name':'shri','Class':12,'gender':'female'}
max(d)

In [22]:
# update
d ={1:2,3:4,4:5}
d1 = {4:7,6:7}
d.update(d1)
print(d)

{1: 2, 3: 4, 4: 7, 6: 7}

In [23]:
# Dict Comprehension
# {key : value for var in iterable}
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [26]:
# using exiting dict
distance = {'dehli':100,'mumbai':2000}
print(distance.items())
{key:value*0.62 for (key,value)in distance.items()}

dict_items([('dehli', 100), ('mumbai', 2000)])

{'dehli': 62.0, 'mumbai': 1240.0}

In [33]:
# using zip
days = {'sunday','monday','tuesday','wednesday','thrusday','friday','saturday'}
temp_c = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]
{i:j for (i , j)in zip (days,temp_c)}

{'thrusday': 30.5,
 'saturday': 32.6,
 'sunday': 31.8,
 'wednesday': 33.4,
 'monday': 29.8,
 'friday': 30.2,
 'tuesday': 29.9}

In [34]:
# using if condition
product = {'phone':10,'laptop':0,'charger':32,'tablet':0}
{key : value for (key , value) in product.items() if value > 0}

{'phone': 10, 'charger': 32}

In [43]:
# nested comprehension
# print tables of number from 2 t0 4

{i:{j:i*j for j in range (1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [ ]:
{
    2:{1:2,2:4,3:6,4:8},
    3:{1:3,2:6,3:9,4:12},
    4:{1:4,2:8,3:12,4:16}
}