In [1]:
print("Hello World")

Hello World

2. Ways to Traverse a List
   1. itemwise
   2. indexwise

In [ ]:
# itemwise
l = [1,2,3,4]
for i in l:
    print(i)

1
2
3
4

In [4]:
# indexwise
l = [1,2,3,4]
for i in range(0,len(l)):
    print(i)

0
1
2
3

Zip :
the zip() function returns a zip object,which is an iterator of tuples where the first item in each passed iterator in paired together,and then the second item in each passed iterator are paired together.

In [6]:
l1 = [1,2,3,4]
l2 = [-1,-2,-3,-4]
list(zip(l1,l2))
[i+j for i,j in zip(l1,l2)]

[0, 0, 0, 0]

Tuple in Python
A tuple in python is similar to a list. 
A turple is immutable list

Characteristrics:
1 ordered
2 unchanged
3 allows duplicate

Plan of attack :
creating a tuple
accesing items
editing items
adding
deleting
operation
tuple function

Creating Tuples

In [4]:
#empty
t1 = ()
print(t1)
# creating a tuple with a single item
t2 = (2)
print(t2)
print(type(t2)) # this is not tuple
print()

t = ('hello',)
print(t)

()
2
<class 'int'>

('hello',)

In [ ]:
# Homogeneous
t = (1,2,3,4)
print(t)

# Hetrogeneous
t = (1,2,3,True,4,5,(8,9))
print(t)
print(type(t))

# 2D tuple
t = (1,2,3,(4,5))
print(t)

t = (tuple('shri'))
print(t)

(1, 2, 3, 4)
(1, 2, 3, True, 4, 5, (8, 9))
<class 'tuple'>
(1, 2, 3, (4, 5))
('s', 'h', 'r', 'i')

Accessing Items
1. Indexing
2. Slicing

In [14]:
# indexing
t = (1,2,3,4,5,6)
print(t[0])
print(t[-1])

1
6

In [15]:
# slicing
t = (1,2,3,4,5,6)
print(t[1:5])

(2, 3, 4, 5)

In [ ]:
t = (1,2,3,(4,5))
# 2D array
t[3][0]

4

Editing Items :

In [18]:
t[3] = 200 # editing not allowed becoz this tuple
print(t)

TypeError: 'tuple' object does not support item assignment

Adding items :

In [ ]:
print(t) # not possible

(1, 2, 3, (4, 5))

Deleting tuple :

In [21]:
t = (1,2,3,4)
print(t)
del t
print(t) # it will through error

(1, 2, 3, 4)

NameError: name 't' is not defined

In [ ]:
t = (1,2,3,4)
del 1[2] # internal del it also not allowed in tuple
print(t)

TypeError: 'int' object does not support item deletion

In [23]:
t = (1,2,3,4,5)
t[-1:-4:-1]

(5, 4, 3)

Operation on Tuple

In [27]:
# Arithematic(+ and *)
t1 = (1,2,3,4)
t2 = (5,6,7,8)
print(t1 + t2)

# membership
t1 = (1,2,3,4)
t2 = (1,2,3,4,(5,6)) # 5 is part of 2D tuple
print(3 in t)
print( 5 in t2)
print((5,6)in t2) # this the correct way


for i in t2:
    print(i)
# iterator

(1, 2, 3, 4, 5, 6, 7, 8)
True
False
True
1
2
3
4
(5, 6)

Tuple function :
len/sum/min/max/sorted
count
index

In [32]:
#len/sum/min/max/sorted :
t =(1,2,3,4)
print(len(t))  

print(sum(t))

print(min(t))

print(max(t))

print(sorted(t))
print(sorted(t,reverse=True))

4
10
1
4
[1, 2, 3, 4]
[4, 3, 2, 1]

In [34]:
#count :
t = (1,2,3,4,5,7,8)
print(t.count(7))

1

In [38]:
#index :
t = (1,2,3,4,5)
t.index(4)

3

Difference b/w Lists and Tuple
1.Syntax
2.Mutability
3.Speed
4.Merory
5.Built in Functionlity
6.Error prone
7.Usability

In [39]:
import time
l = list(range(10000000))
t = tuple(range(10000000))
start = time.time()
for i in l:
    i * 5
print('list time',time.time()-start)
start = time.time()
for i in t:
    i * 5
print('tuple time',time.time()-start)

list time 1.9597015380859375
tuple time 1.599992275238037

In [ ]:
import sys
l = list(range(1000))
t = tuple(range(1000))
print('list size',sys.getsizeof(l))
print('tuple size',sys.getsizeof(t)) # tuple is faster then list

list size 8056
tuple size 8040

In [ ]:
# diff and Eg
# List
a = [1,2,3]
b = a
a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
# Tuple
a = (1,2,3)
b = a
a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

Why use Tuple

Special Syntax

In [46]:
# tule unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [47]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [ ]:
#swap value
a = 1
b = 2
a , b = b , a
print(a,b)

2 1

In [49]:
a,b,*other = (1,2,3,4)
print(a,b)
print(other)

1 2
[3, 4]

In [53]:
# Zipping tuple
a =(1,2,3,4)
b =(5,6,7,8)
print(tuple(zip(a,b)))
print(list(zip(a,b)))

((1, 5), (2, 6), (3, 7), (4, 8))
[(1, 5), (2, 6), (3, 7), (4, 8)]