What is Function ?
when we give input it generate output

principle :
i. Abtraction
ii. Dicomposition

Components of a function :
def (keyword)  (ex:- is_even(i):)  i is the input to this funtn
x=i%2==0
retun x
is_even(7)  calling of functn

Lets create a Function(with docstring)

In [8]:
def is_even(num):
    """
    This functn returns if a given number is even or add
    input - any valid integer
    output - odd/even
    create on - 15 feb 2026
    """
    if type(num)== int:
     if num % 2 == 0:
        return 'even'
     else:
        return 'odd'
    else:
        return 'pagal hai ky'

In [9]:
# function
# function_name(input)
for i in range(1,11):
    x = is_even(i)
    print(x)

odd
even
odd
even
odd
even
odd
even
odd
even

In [34]:
is_even.__doc__

'\n    This functn returns if a given number is even or add\n    input - any valid integer\n    output - odd/even\n    create on - 15 feb 2026\n    '

2 Point of Views

Parameter and Argument

Types of Argument :
Default arg
Position arg
Keyword arg

In [ ]:
# Default arg

def power(a = 1,b = 1):
    return a ** b

In [17]:
power(2)

2

In [ ]:
# Position arg
power(2,3) # a = 2 , b = 3

8

In [ ]:
# Keyword arg
power(b = 3 , a = 2)
 # power(3,2)

9

In [32]:
# args and kwargs
# they are special python keyword that are used to pass the variable lenght of arg in a functn
# allow us to pass a variable no of non - keyword

def multi(*args): # variable args (it make internal tuple)
    a = 1
    for i in args:
        a = a * i
    print(args)
    return a

In [33]:
multi(2,3,5,6,7)

(2, 3, 5, 6, 7)

1260

In [35]:
# **kwargs
# **kwargs allows us to pass number of keywords argument
# keyword arguments mean that they contain a key - value pair , like a python dictionary.

def display(**kwargs):
    for(key,value) in kwargs.items():
        print(key,'->',value)

In [36]:
display(india='dehli',nepal='katmandu',pakistan='islamabad')

india -> dehli
nepal -> katmandu
pakistan -> islamabad

Points to number while using *args and **kwagrs

1 order of the arguament matter(normal -> *args -> **kwargs)
2 the words 'args' and 'kwargs' are only convertion ,you can use any name of your choice !

How Function are executed in memory ?

In [41]:
# without return statement
# if we don't use return statement then it will through 'none'
l = [1,2,3]
l.append(8)
print(l)
print(l.append(4))

[1, 2, 3, 8]
None

Variable Scope

In [42]:
# ex : local variable can take value of local
def f(y):
    x = 1 # this is local varible
    x += 1
    print(x)
    # this is global varible
x = 5
f(x)
print(x)

2
5

In [ ]:
def h(y):
    global x # using global we can change
    x += 1 # cannot change the global variable through local varible
x = 5
h(x)
print(x)

6

In [48]:
# Ex
def f(x):
    x = x + 1
    print('in f(x): x = ',x)
    return x

x = 3
z = f(x)
print('in main program scope: z = ',z)
print('in main program scope: x = ',x)

in f(x): x =  4
in main program scope: z =  4
in main program scope: x =  3

In [ ]:
# nested functn
def f():
    def g():
        print('inside function g')
        #f() # it make an infinite loop
    g() # iska use nhi karenge toh 
    print('inside function f')

In [ ]:
f () # we not call the inner functn g() outside the main functn

In [62]:
# ex
def g(x):
    def h():
        x = 'abc'
    x = x + 1
    print('in g(x) : x =',x)
    h()
    return x
x = 3
z = g(x)

in g(x) : x = 4

In [65]:
# ex
def g(x):
    def h():
        x = 'abc'
    x = x + 1
    print('in g(x) : x =',x)
    h()
    return x
x = 3
z = g(x)
print('in main program scope: z = ',z)
print('in main program scope: x = ',x)

in g(x) : x = 4
in main program scope: z =  4
in main program scope: x =  3

Functions are !st class citizen :

In [ ]:
# type and ID
def square(num):
    return num ** 2
type(square) # function
id(square) # Id

2141429698528

In [ ]:
# reassign
x = square # change functn name
id(x) # id will show

2141429698528

In [ ]:
# deleting a function
del square # we can also delete a function like datatype

In [ ]:
# storing
def square(num):
    return num ** 2
type(square) # function
id(square) # Id

l = [1,2,3,4,square]
l[-1](3) # square(3)

9

In [ ]:
# returning a function
s ={square} # immutable bcoz set will not allowed mutable datatype
s

{<function __main__.square(num)>}

In [ ]:
# returning
def f():
    def x(a,b):
        return a + b
    return x
val = f()(3,4)
print(val)

7

In [78]:
# Ex
def fun_a():
    print('inside fun_a')
def fun_b(z):
    print('inside fun_b')
    return z()
print(fun_b(fun_a))

inside fun_b
inside fun_a
None

# Benefits of using a function :
1. code modularity
2. code readablity
3. code reusability

# Lambda Function :
   A lambda function is a small ananymous function
   A lambda function can take any number of arguments,but can only have one expression

Example :
    lambda a,b : a + b

Syntax :
    lambda parameter : expression

In [1]:
# x,y -> x ^ y
a = lambda x:x**2
print(a(2))

4

In [2]:
# x,y -> x + y
a = lambda x,y : x*y
print(a(2,3))

6

Diff b/w lambda v/v Normal Function :
1.No name
2.lambda has no return value(infact,return a function)
3.lambda is written in 1 line
4.not reuable

then why use lambda function
they are used in HOF(higher order function)

In [5]:
# check if a string has 'a'
a = lambda s : 's' in s
a('shri')

True

In [3]:
# odd or even
a = lambda x : 'even' if x % 2 == 0 else 'odd'
print(a(6))

even

Higher order Function :

In [ ]:
# example

def sq(x):
    return x**2
def cube(x):
    return x**3

def transform(f,l):
    output = []
    for i in l:
        output.append(f(i))
    print(output)
l =[1,2,3,4,5]
transform(lambda x:x**3,l)

[1, 8, 27, 64, 125]

Map :

In [11]:
# square the items of a list
list(map(lambda x : x**2,[1,2,3,4,5]))

[1, 4, 9, 16, 25]

In [12]:
# odd/even labelling a list items
l = [1,2,3,4,5]
list(map(lambda x : 'even' if x % 2 == 0 else 'odd ',[1,2,3,4,5]))

['odd ', 'even', 'odd ', 'even', 'odd ']

In [25]:
# fetch names from a list of dict :
users = [
    {
        'name':'shri',
        'age':20,
        'gender':'female'
    },
    {
        'name':'shriya',
        'age':20,
        'gender':'female'
    },
    {
        'name':'diya',
        'age':19,
        'gender':'female'
    }

]
res = list(map(lambda user:user['gender'],users))
print(res)

['female', 'female', 'female']

In [26]:
# Filter

# number greater than s
l =[3,4,2,7,8,9]
list(filter(lambda x:x>5,l))

[7, 8, 9]

In [29]:
# fetch fruits starts with 'a'
fruits = ['apple','guava','mango','cherry']
list(filter(lambda x : x.startswith('a'),fruits))

['apple']

In [30]:
# sum of all items 
import functools
functools.reduce(lambda x,y : x+y,[1,2,3,4,5]
                 )

15

In [31]:
# find min
functools.reduce(lambda x,y : x if x < y else y , [12,45,67,16,99,45])

12

In [ ]:
# find max
functools.reduce(lambda x,y : x if x > y else y , [12,45,67,16,99,45])

99